<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>VR应用</title>
    <meta name="description" content="传统行业互联网转型方案">

    <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

  <body class="default">
  	<nav class="navbar navbar-mainnav theme-fff" role="navigation">
	<div class="row">
		<div class="container">
			<div class="row-table">
				<div class="col-table-cell">
					<a href="index.html" class="navbar-logo">
						<img src="http://cl.ly/image/3s223R2v0T2C/imgapp.jpeg" alt="">
						<span class="text">品课网</span>
						<span class="slogan">只为学习效果付费</span>
					</a>
				</div>
				<div class="col-table-cell col-12 hidden-xs">
					
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
						<li class=""><a href="index.html">首页</a></li>
						<li class=""><a href="kecheng-index.html">课程分类</a></li>
						<li class=""><a href="kecheng-index-suzhi.html">素质教育</a></li>
						<li class=""><a href="brand-jiazhang.html">家长指南</a></li>
						<li class=""><a href="kecheng-index.html">在线约课</a></li>
					</ul>
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
 						
						<li class=""><a href="user-login.html">登录 / 注册</a></li>
 						<li class="dropdown default">
							<a href="#" data-toggle="dropdown">手机<i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rs">
								<div class="navbar-qrcode-wrapper">
									<div class="img-wrapper">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">	
									</div>
									<div class="title">
										关注微信公众号
									</div>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>



    <section class="page-container page-site-index theme-light">
	<section class="section-carousle">
		<div class="swiper-container swiper-carousel page-site-index" id="">
		  <div class="swiper-wrapper">
		  	  <!--First Slide-->
		  	  <div class="swiper-slide">
		  	  	<a  class="box page1">
		  	  		<img src="http://c1.mifile.cn/f/i/2014/cn/goods/minote/overall/overall-hifi-bg.jpg" alt="">
		  	  		<div class="layer-cover">
		  	  			<div class="row-table">
		  	  				<div class="col-table-cell col-12">
		  	  					<div class="container">
		  	  						<div class="caption">
		  	  							<div class="title animated fadeInDown l08 d02"> 魔多 App Store </div>
		  	  							<div class="sub-title animated fadeInUp l08">
		  	  								<span class="line"></span>
		  	  								 虚拟现实应用及游戏商店
		  	  								<span class="line"></span>
		  	  							</div>
		  	  						</div>
		  	  					</div>
		  	  					
		  	  				</div>
		  	  			</div>
		  	  		</div>
		  	  	</a>
		  	  </div>
			      <!--Third Slide-->
			      <div class="swiper-slide"> 
				      <a  class="box page2">
				      	<img src="http://c1.mifile.cn/f/i/2014/cn/goods/minote/overall/overall-hifi-bg.jpg" alt="">
				      	<div class="layer-cover">
				      		<div class="row-table">
				      			<div class="col-table-cell col-12">
				      				<div class="container">
				      					<div class="row-table">
				      						<div class="col-table-cell col-12">
				      							<div class="caption">
				      								<div class="title animated fadeInRight l10">
				      									应用下载
				      								</div>
				      								<div class="des animated fadeInRight l10 d04">
				      									<span class="line"></span>魔多网旗下应用及游戏下载平台
				      								</div>
				      							</div>
				      						</div>
				      						<div class="col-table-cell">
				      							<div class="qrcode">
				      								<div class="title">
				      									关注我们
				      								</div>
				      								<div class="qrcode-wrapper">
				      									<img src="http://www.fresherstyle.com/static/front/assets/img/brand/brand-qrcode.jpg" alt="">	
				      								</div>
				      							</div>
				      						</div>
				      					</div>
				      					

				      				</div>
				      				
				      			</div>
				      		</div>
				      	</div>
				      </a>		      
				   </div>
	           
	            <!--Second Slide-->
	            <div class="swiper-slide">
	      	      <a  class="box page2">
	      	      	<img src="http://c1.mifile.cn/f/i/2014/cn/goods/minote/overall/overall-hifi-bg.jpg" alt="">
	      	      	<div class="layer-cover">
	      	      		<div class="row-table">
	      	      			<div class="col-table-cell col-12">
	      	      				<div class="container">
	      	      					<div class="row-table">
	      	      						<div class="col-table-cell col-12">
	      	      							<div class="caption">
	      	      								<div class="title animated fadeInRight l10">
	      	      									最深度，最可信
	      	      								</div>
	      	      								<div class="des animated fadeInRight l10 d04">
	      	      									<span class="line"></span>果冻网旗下VR应用及游戏下载平台
	      	      								</div>
	      	      							</div>
	      	      						</div>
	      	      						<div class="col-table-cell">
	      	      							<div class="qrcode">
	      	      								<div class="title">
	      	      									关注我们
	      	      								</div>
	      	      								<div class="qrcode-wrapper">
	      	      									<img src="http://www.fresherstyle.com/static/front/assets/img/brand/brand-qrcode.jpg" alt="">	
	      	      								</div>
	      	      							</div>
	      	      						</div>
	      	      					</div>
	      	      					

	      	      				</div>
	      	      				
	      	      			</div>
	      	      		</div>
	      	      	</div>
	      	      </a>		      
	      	  </div>
		  </div>
		  <div class="pagination"></div>
		</div>
	</section>
	<div class="container">
		<section class="page-section-filter-web module-app">
			<div class="panel-filter-web">
				<div class="row-table">
					<div class="col-table-cell">
						<div class="panel-header">
							运行平台
						</div>
					</div>
					<div class="col-table-cell col-12 br">
						<div class="panel-content">
							<div class="list-group-filter-web">
								<a class="list-item-filter-web active" href="#">
									全部
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">IOS</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Android</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Windows</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-table-cell">
						<div class="action">
							<a href="#" class="toggler">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-filter-web">
				<div class="row-table">
					<div class="col-table-cell">
						<div class="panel-header">
							适配眼镜
						</div>
					</div>
					<div class="col-table-cell col-12 br">
						<div class="panel-content">
							<div class="list-group-filter-web">
								<a class="list-item-filter-web active" href="#">
									全部
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Oculus Rift DK2</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Gear VR</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">HTC Vive</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Google Gardboard</span>
								</a>
								
							</div>
						</div>
					</div>
					<div class="col-table-cell">
						<div class="action">
							<a href="#" class="toggler">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-filter-web">
				<div class="row-table">
					<div class="col-table-cell">
						<div class="panel-header">
							应用类型
						</div>
					</div>
					<div class="col-table-cell col-12 br">
						<div class="panel-content">
							<div class="list-group-filter-web">
								<a class="list-item-filter-web active" href="#">
									全部
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">动作/冒险</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">休闲</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">教育</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">探险</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">格斗射击</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">解秘益智</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">RPG</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">运动</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">策略</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">模拟</span>
								</a>

							</div>
						</div>
					</div>
					<div class="col-table-cell">
						<div class="action">
							<a href="#" class="toggler">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-filter-web">
				<div class="row-table">
					<div class="col-table-cell">
						<div class="panel-header">
							外接设备
						</div>
					</div>
					<div class="col-table-cell col-12 br">
						<div class="panel-content">
							<div class="list-group-filter-web">
								<a class="list-item-filter-web active" href="#">
									全部
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">雷蛇手柄</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Xbox手柄</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">KAT跑步机</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Omni跑步机</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Kinect体感</span>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">Leap Motion</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-table-cell">
						<div class="action">
							<a href="#" class="toggler">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-filter-web">
				<div class="row-table">
					<div class="col-table-cell">
						<div class="panel-header">
							排序
						</div>
					</div>
					<div class="col-table-cell col-12 br">
						<div class="panel-content">
							<div class="list-group-filter-web">
								<a class="list-item-filter-web active" href="#">
									<span class="text">最新</span>
								</a>
								</a>
								<a class="list-item-filter-web" href="#">
									<span class="text">最热</span>
								</a>
								</a>
							</div>
						</div>
					</div>
					<div class="col-table-cell">
						<div class="action">
							<a href="#" class="toggler">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="page-section-site-index-article-list">
			<div class="row">
				<div class="col-md-8	">
					<div class="page-content-container page-article-index">
						<ul class="list-group-app layout-col">
							<div class="row">
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/2015061016104510450.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												指挥官（Tactera Demo）
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/201506120837013710.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												特技飞行师(Faceted Flight)
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/2014101115102310230.png" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												UE4城堡过山车
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/201504081734023420.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												超级棒球手（See Ball）
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/20150523110801810.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												罗马大厅3G版
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/2015061014283528350.png" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												家鼠（House Mouse）
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/2015052216565856580.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												城堡过山车（3glasses版）
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-6">
									<li href="article-detail.html" class="list-item-app layout-col">
										<a href="article-detail.html" class="img-wrapper">
											<img src="http://www.87870.com/content/imgs/gameInfo/detail/201506061110031030.jpg" alt="">
											<div class="layer-bottom">
												<div class="badage-wrapper">
													<span class="badage-item badage-top">
														Xbox手柄
													</span>
												</div>
												
											</div>
										</a>
										<div class="caption">
											<a href="article-detail.html" class="title">
												历史博物馆 PC（Museum of Natural History）
											</a>
											<div class="meta">
												<div class="meta-item">
													游戏类型：冒险探索
												</div>
												<div class="meta-item">
													适用设备：DK2
												</div>
												<div class="meta-item">
													操作系统：Windows
												</div>

												<div class="meta-item">
													游戏大小：658M
												</div>
											</div>
											<div class="row-table">
												<div class="col-table-cell">
													<div class="action">
														<a href="#" class="btn-confirm">
															<i class="fa fa-arrow-circle-o-down"></i>
															下载
														</a>
													</div>
													
												</div>
												<div class="col-table-cell">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
												<div class="col-table-cell col-12">
													
												</div>
											</div>
										</div>
									</li>
								</div>
							
							</div>
						</ul>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="page-sidebar-container page-article-index">
						<section class="panel-sidebar">
							<header class="panel-header">
								<a href="#">
									<div class="row-table">
										<div class="col-table-cell col-12">
											<div class="title">
												应用排行榜
											</div>
										</div>
										<div class="col-table-cell">
											<div class="icon-arrow">
												更多<i class="fa fa-angle-right"></i>
											</div>
										</div>
									</div>
								</a>
							</header>
							<div class="panel-content">
								<ul class="list-group-app layout-sidebar">
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													0
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														指挥官（Tactera Demo）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													1
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														特技飞行师(Faceted Flight)
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													2
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														UE4城堡过山车
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													3
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														超级棒球手（See Ball）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													4
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														罗马大厅3G版
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													5
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														家鼠（House Mouse）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													6
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														城堡过山车（3glasses版）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													7
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														历史博物馆 PC（Museum of Natural History）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													8
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														生命之塔
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
								</ul>
							</div>
						</section>
						<section class="panel-sidebar">
							<header class="panel-header">
								<a href="#">
									<div class="row-table">
										<div class="col-table-cell col-12">
											<div class="title">
												IOS应用
											</div>
										</div>
										<div class="col-table-cell">
											<div class="icon-arrow">
												更多<i class="fa fa-angle-right"></i>
											</div>
										</div>
									</div>
								</a>
							</header>
							<div class="panel-content">
								<ul class="list-group-app layout-sidebar">
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													0
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														指挥官（Tactera Demo）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													1
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														特技飞行师(Faceted Flight)
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													2
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														UE4城堡过山车
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													3
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														超级棒球手（See Ball）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													4
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														罗马大厅3G版
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
								</ul>
							</div>
						</section>
						<section class="panel-sidebar">
							<header class="panel-header">
								<a href="#">
									<div class="row-table">
										<div class="col-table-cell col-12">
											<div class="title">
												Windows应用
											</div>
										</div>
										<div class="col-table-cell">
											<div class="icon-arrow">
												更多<i class="fa fa-angle-right"></i>
											</div>
										</div>
									</div>
								</a>
							</header>
							<div class="panel-content">
								<ul class="list-group-app layout-sidebar">
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													0
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														指挥官（Tactera Demo）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													1
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														特技飞行师(Faceted Flight)
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num  top3 ">
													2
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														UE4城堡过山车
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													3
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														超级棒球手（See Ball）
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
									<li  class="list-item-app layout-sidebar">
										<div class="row-table">
											<div class="col-table-cell align-top ">
												<div class="top-num ">
													4
												</div>
											</div>
											<div class="col-table-cell br col-12 align-top">
												<div class="caption">
													<a href="app-detail.html" class="title">
														罗马大厅3G版
													</a>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="meta">
														<span class="meta-item">DK2</span>
													</div>
												</div>
											</div>
											<div class="col-table-cell align-top">
												<div class="caption">
													<div class="data">
														<span class="data-item">
															<i class="fa fa-eye"></i>100
														</span>	
														<span class="data-item">
															<i class="fa fa-arrow-circle-o-down"></i>100
														</span>	
													</div>
												</div>
											</div>

										</div>
									</li>
									
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>










    <section class="section-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								帮助中心 
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">服务流程</a>
								<a href="#" class="foot-link-item">家长指南</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">登录注册</a>
								<a href="#" class="foot-link-item">常见问题 </a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								平台特色  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">教学质量担保</a>
								<a href="#" class="foot-link-item">先上课后后付费</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">课时费减半</a>
								<a href="#" class="foot-link-item">不满意退费</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关于我们  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">了解我们 </a>
								<a href="#" class="foot-link-item">联系我们</a>
								<a href="#" class="foot-link-item">加入我们 </a>
								<a href="#" class="foot-link-item">服务条款</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关注我们  
							</header>
							<div class="content">
								<div class="box-wechat-qrcode-wrapper">
									<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box-kefudianhua">
					<div class="icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="title">
						010-56629015
					</div>
					<div class="des">
						周一至周日 9:00-23:00
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="en">
			Copyright @ 2015 www.tsay.com.cn. All Rights Reserved
		</div>
		<div class="ch">
			品课网©版权所有 京ICP备14057692号	
		</div>
	</div>
	
</section>
    
<!-- <script src="../assets/js/app.min.js" type="text/javascript"></script> -->
<script src="../assets/js/vendor/TweenMax.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/idangerous.swiper.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.scrollmagic.min.js" type="text/javascript"></script>
<script src="../assets/js/custom.js" type="text/javascript"></script>

  </body>

</html>
