<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>文章详情</title>
    <meta name="description" content="传统行业互联网转型方案">

    <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

  <body class="default">
  	<nav class="navbar navbar-mainnav theme-fff" role="navigation">
	<div class="row">
		<div class="container">
			<div class="row-table">
				<div class="col-table-cell">
					<a href="onepage-index.html" class="navbar-logo">
						<img src="http://cl.ly/image/3s223R2v0T2C/imgapp.jpeg" alt="">
						<span class="text">品课网</span>
						<span class="slogan">一对一上门家教服务平台</span>
					</a>
				</div>
				
				<div class="col-table-cell col-12 hidden-xs">
					
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
						<li class=""><a href="onepage-index.html">首页</a></li>
						<li class=""><a href="business-index.html">课程分类</a></li>
						<li class=""><a href="business-index-suzhi.html">素质教育</a></li>
						<li class=""><a href="online-yuyue.html">在线约课</a></li>
					</ul>
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
 						
						<li class=""><a href="user-login.html">登录</a></li>
						<li class=""><a href="user-signup.html">注册</a></li>
 						<li class="dropdown default">
							<a href="#" data-toggle="dropdown">手机<i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rs">
								<div class="navbar-qrcode-wrapper">
									<div class="img-wrapper">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">	
									</div>
									<div class="title">
										关注微信公众号
									</div>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>



    <div class="page-container theme-light">
	<div class="container" >
		<div class="row">
			<div class="col-md-8">
				<div class="page-content-container page-article-detail">
					<section class="panel-article page-article-detail article-caption">
						<div class="panel-content">
							<div class="caption">
								<div class="title">
									万达转型：O2O帮助王健林超越马云和李嘉诚
								</div>
								<div class="data">
									<span class="data-item">
										张三李四
									</span>
									<span class="data-item">
										2015-05-28 10:08
									</span>
									<span class="data-item">
										<i class="fa fa-eye"></i> 0
									</span>
									<span class="data-item">
										<i class="fa fa-comment-o"></i> 0
									</span>


								</div>
							</div>
						</div>
					</section>
					<section class="panel-article page-article-detail">
						<div class="panel-content">
							<div class="article-editor-container">
								<p>
									<img src="https://dn-img-seriousapps.qbox.me/business/13912934713995?imageView2/1/w/639/h/472/interlace/1/format/jpeg/interlace/1" alt="">
								</p>
								<p>个人品味十足的文艺界人士聚会地点</p>
								<p>喜饭代表了女主人 Eico 的个人品位，屋内空间不大，但格外温馨雅致。吧台是一段硕大的铜皮包边老榆木，吊灯是从军队礼堂淘来的，摇椅则专门采购于北欧。房间里随处可见猫元素，连筷托都是一只只憨态可掬的小萌物。一旁的木头书架上摆满了各色威士忌，这是 Eico 曾在五道营胡同经营酒吧的遗迹，来访时不妨让她针对你的口味来推荐。</p>
								<p><img src="https://dn-img-seriousapps.qbox.me/business/13914275113039?imageView2/1/w/639/h/472/interlace/1/format/jpeg/interlace/1" alt=""></p>
								<p>食材当日空运而来 “割主烹从”突出本味</p>
								<p>喜饭素来崇尚简单的料理法，秉承日料精髓“割主烹从”以突出优质食材本身的美味。在卯月菜单中，「鱼生」包含源自加拿大的「牡丹虾」、北朝鲜的「海胆」、鲜活进店的「北极贝」和「蓝鳍金枪鱼」等8种海鲜，口感细腻鲜美的生鲜向来是好日料的不二佐证，搭配鲨鱼皮板现磨出的「山葵根」，实乃点睛之笔。还有炖煮数小时的「牛蹄筋」，酥软而不失咬紧，汤头淡而不寡，十分浓郁。</p>
								<p><img src="https://dn-img-seriousapps.qbox.me/business/13912948823976?imageView2/1/w/639/h/472/interlace/1/format/jpeg/interlace/1" alt=""></p>
								<p>十余年日料经验主厨坐镇 米酒源自手工作坊</p>
							</div>
						</div>
					</section>
				</div>
				
			</div>
			<div class="col-md-4">
				<div class="page-sidebar-container page-article-detail">
					<section class="panel-sidebar">
						<header class="panel-header">
							<a href="#">
								<div class="row-table">
									<div class="col-table-cell col-12">
										<div class="title">
											相关文章
										</div>
									</div>
									<div class="col-table-cell">
										<div class="icon-arrow">
											全部<i class="fa fa-angle-right"></i>
										</div>
									</div>
								</div>
							</a>
						</header>
						<div class="panel-content">
							<div class="list-group-article-meta layout-sidebar">
								<a href="#" class="list-item-article-meta">
									● 分类
								</a>
								<a href="#" class="list-item-article-meta">
									● 传统企业互联网转型
								</a>
								<a href="#" class="list-item-article-meta">
									● 电商解决方案
								</a>
								<a href="#" class="list-item-article-meta">
									● 标签
								</a>
								<a href="#" class="list-item-article-meta">
									● 标签
								</a>
								<a href="#" class="list-item-article-meta">
									● 标签
								</a>
							</div>
							<ul class="list-group-article layout-sidebar">
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img2.selfimg.com.cn/vogue270X270/2015/03/20/1426841407_Rgnz2L.jpg" alt="">
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													海外才是《星际穿越》的主要票房市场
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2015/03/02/1425284105_BoQ0lK.jpg" alt="">
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													万物简史：一个酒店的全球化之旅
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2014/11/13/1415871879_FjeX71.jpg" alt="">
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													酸汤鱼经济学:最差的就业路径是什么
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2015/01/29/1422502587_FGZQr3.jpg" alt="">
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													这样有 Feel 的小店会让你更想逛吗？
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img1.selfimg.com.cn/vogue210X210/2015/01/26/1422243913_L1MEmg.jpg" alt="">
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													这些方法可以帮你在网上永远看不到广告
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</section>
					<section class="panel-sidebar">
						<header class="panel-header">
							<a href="#">
								<div class="row-table">
									<div class="col-table-cell col-12">
										<div class="title">
											热门文章
										</div>
									</div>
									<div class="col-table-cell">
										<div class="icon-arrow">
											全部<i class="fa fa-angle-right"></i>
										</div>
									</div>
								</div>
							</a>
						</header>
						<div class="panel-content">
							<ul class="list-group-article layout-sidebar">
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img2.selfimg.com.cn/vogue270X270/2015/03/20/1426841407_Rgnz2L.jpg" alt="">
												<div class="layer-cover">
													<div class="row-table">
														<div class="col-table-cell col-12">
															<span class="num">
																00
															</span>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													海外才是《星际穿越》的主要票房市场
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2015/03/02/1425284105_BoQ0lK.jpg" alt="">
												<div class="layer-cover">
													<div class="row-table">
														<div class="col-table-cell col-12">
															<span class="num">
																01
															</span>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													万物简史：一个酒店的全球化之旅
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2014/11/13/1415871879_FjeX71.jpg" alt="">
												<div class="layer-cover">
													<div class="row-table">
														<div class="col-table-cell col-12">
															<span class="num">
																02
															</span>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													酸汤鱼经济学:最差的就业路径是什么
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img3.selfimg.com.cn/vogue210X210/2015/01/29/1422502587_FGZQr3.jpg" alt="">
												<div class="layer-cover">
													<div class="row-table">
														<div class="col-table-cell col-12">
															<span class="num">
																03
															</span>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													这样有 Feel 的小店会让你更想逛吗？
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
								<li  class="list-item-article layout-sidebar">
									<div class="row-table">
										<div class="col-table-cell align-top">
											<a href="article-detail.html" class="img-wrapper">
												<img src="http://img1.selfimg.com.cn/vogue210X210/2015/01/26/1422243913_L1MEmg.jpg" alt="">
												<div class="layer-cover">
													<div class="row-table">
														<div class="col-table-cell col-12">
															<span class="num">
																04
															</span>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-table-cell br col-12 ">
											<div class="caption">
												<a href="article-detail.html" class="title">
													这些方法可以帮你在网上永远看不到广告
												</a>
												<div class="row-table hidden-md">
													<div class="col-table-cell col-12">
														<div class="data">
															<a href="#" class="data-item">
																张三
															</a>	
															<span class="data-item">
																2015-05-18
															</span>										
														</div>
													</div>
													<div class="col-table-cell">
														<div class="data">
															
															<span class="data-item">
																<i class="fa fa-eye"></i>100
															</span>	
															<span class="data-item">
																<i class="fa fa-comment-o"></i>100
															</span>										
														</div>
													</div>
												</div>
												
												
											</div>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</section>
					<section class="panel-sidebar">
						<header class="panel-header">
							<a href="#">
								<div class="row-table">
									<div class="col-table-cell col-12">
										<div class="title">
											精选专题
										</div>
									</div>
									<div class="col-table-cell">
										<div class="icon-arrow">
											全部<i class="fa fa-angle-right"></i>
										</div>
									</div>
								</div>
							</a>
						</header>
						<div class="panel-content">
							<div class="list-group-article-subject layout-sidebar">
								
								<a href="article-subject-detail.html" class="list-item-article-subject layout-sidebar">
									<div class="img-wrapper">
										<img src="http://img2.selfimg.com.cn/vogue270X270/2015/03/20/1426841407_Rgnz2L.jpg" alt="">
										<div class="layer-cover">
											<div class="row-table">
												<div class="col-table-cell br">
													<div class="caption">
														<div class="title">
															专题名称专题名称
														</div>
														<div class="title-bottom">
															<div class="row-table">
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
																<div class="col-table-cell">
																	<div class="dot">○</div>
																</div>
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
															</div>				
														</div>
														<div class="data">
															<span class="data-item">
																文章
																35
															</span>
															<span class="data-item">
																阅读
																100
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								
								<a href="article-subject-detail.html" class="list-item-article-subject layout-sidebar">
									<div class="img-wrapper">
										<img src="http://img3.selfimg.com.cn/vogue210X210/2015/03/02/1425284105_BoQ0lK.jpg" alt="">
										<div class="layer-cover">
											<div class="row-table">
												<div class="col-table-cell br">
													<div class="caption">
														<div class="title">
															专题名称专题名称
														</div>
														<div class="title-bottom">
															<div class="row-table">
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
																<div class="col-table-cell">
																	<div class="dot">○</div>
																</div>
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
															</div>				
														</div>
														<div class="data">
															<span class="data-item">
																文章
																35
															</span>
															<span class="data-item">
																阅读
																100
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								
								<a href="article-subject-detail.html" class="list-item-article-subject layout-sidebar">
									<div class="img-wrapper">
										<img src="http://img3.selfimg.com.cn/vogue210X210/2014/11/13/1415871879_FjeX71.jpg" alt="">
										<div class="layer-cover">
											<div class="row-table">
												<div class="col-table-cell br">
													<div class="caption">
														<div class="title">
															专题名称专题名称
														</div>
														<div class="title-bottom">
															<div class="row-table">
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
																<div class="col-table-cell">
																	<div class="dot">○</div>
																</div>
																<div class="col-table-cell" style="width:50%;">
																	<div class="line"></div>
																</div>
															</div>				
														</div>
														<div class="data">
															<span class="data-item">
																文章
																35
															</span>
															<span class="data-item">
																阅读
																100
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								
							</div>
						</div>
					</section>
				</div>
				
			</div>
		</div>
	</div>
</div>





    <section class="section-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								帮助中心 
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">服务流程</a>
								<a href="#" class="foot-link-item">家长指南</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">登录注册</a>
								<a href="#" class="foot-link-item">常见问题 </a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								平台特色  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">教学质量担保</a>
								<a href="#" class="foot-link-item">先上课后后付费</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">课时费减半</a>
								<a href="#" class="foot-link-item">不满意退费</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关于我们  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">了解我们 </a>
								<a href="#" class="foot-link-item">联系我们</a>
								<a href="#" class="foot-link-item">加入我们 </a>
								<a href="#" class="foot-link-item">服务条款</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关注我们  
							</header>
							<div class="content">
								<div class="box-wechat-qrcode-wrapper">
									<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box-kefudianhua">
					<div class="icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="title">
						4008-310-100
					</div>
					<div class="des">
						周一至周日 9:00-23:00
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="en">
			Copyright @ 2015 houzongbao.com. All Rights Reserved
		</div>
		<div class="ch">
			品课网©版权所有 京ICP备14057692号	
		</div>
	</div>
	
</section>
    
<!-- <script src="../assets/js/app.min.js" type="text/javascript"></script> -->
<script src="../assets/js/vendor/TweenMax.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/idangerous.swiper.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.scrollmagic.min.js" type="text/javascript"></script>
<script src="../assets/js/custom.js" type="text/javascript"></script>

  </body>

</html>
