<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>服务条款</title>
    <meta name="description" content="传统行业互联网转型方案">

    <link rel="stylesheet" href="../assets/css/app.min.css">
</head>

  <body class="default">
  	<nav class="navbar navbar-mainnav theme-fff" role="navigation">
	<div class="row">
		<div class="container">
			<div class="row-table">
				<div class="col-table-cell">
					<a href="index.html" class="navbar-logo">
						<img src="http://cl.ly/image/3s223R2v0T2C/imgapp.jpeg" alt="">
						<span class="text">品课网</span>
						<span class="slogan">只为学习效果付费</span>
					</a>
				</div>
				<div class="col-table-cell col-12 hidden-xs">
					
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
						<li class=""><a href="index.html">首页</a></li>
						<li class=""><a href="kecheng-index.html">课程分类</a></li>
						<li class=""><a href="kecheng-index-suzhi.html">素质教育</a></li>
						<li class=""><a href="brand-jiazhang.html">家长指南</a></li>
						<li class=""><a href="kecheng-index.html">在线约课</a></li>
					</ul>
				</div>
				<div class="col-table-cell hidden-xs">
					<ul class="nav navbar-nav">
 						
						<li class=""><a href="user-login.html">登录 / 注册</a></li>
 						<li class="dropdown default">
							<a href="#" data-toggle="dropdown">手机<i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rs">
								<div class="navbar-qrcode-wrapper">
									<div class="img-wrapper">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">	
									</div>
									<div class="title">
										关注微信公众号
									</div>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>



    <section class="banner-brand-module">
	<div class="img-wrapper">
		<img src="http://e.qq.com/dev/resource/images/banner1.jpg" alt="">
	</div>
	<div class="layer-cover">
		<div class="row-table">
			<div class="col-table-cell col-12">
				<div class="container">
					<div class="caption">
						<div class="title"> 服务条款 </div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<div class="page-container theme-light">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<section class="page-user-center-sidebar">
    <ul class="list-goup-sidebar-menu brand-module">
        <li class="list-item-sidebar-menu brand-module ">
            <a href="brand-aboutus.html">
                <i class="fa fa-user"></i>关于我们
            </a>
        </li>
        <li class="list-item-sidebar-menu brand-module ">
            <a href="brand-jiazhang.html">
                <i class="fa fa-shield"></i>家长指南
            </a>
        </li>
        <li class="list-item-sidebar-menu brand-module ">
            <a href="brand-daoshi.html">
                <i class="fa fa-users"></i>导师入驻
            </a>
        </li>
        <li class="list-item-sidebar-menu brand-module ">
            <a href="brand-contactus.html">
                <i class="fa fa-users"></i>联系我们
            </a>
        </li>
        <li class="list-item-sidebar-menu brand-module ">
            <a href="brand-faq.html">
                <i class="fa fa-question-circle"></i>常见问题
            </a>
        </li>
        <li class="list-item-sidebar-menu brand-module  active ">
            <a href="brand-terms.html">
                <i class="fa fa-phone"></i>服务条款
            </a>
        </li>
    </ul>
</section>
			</div>
			<div class="col-md-9">
				<section class="page-user-center-content">
					<section class="content-title">
						<div class="title active">学员须知</div>
					</section>
					<div class="row">
						<div class="col-md-12">
							<div class="editor-wrapper-brand-module">
	
								<div class="header1">
									一，甲方（品课网）责任和义务
								</div>
								<p>1，双方签订本协议后，甲方（品课网）即为乙方（由学员法定代理人代理）建立TMS个性化辅导及辅导档案。</p>
								<p>2，甲方根据乙方的实际情况、测试结果和相关分析，为其选派辅导老师。甲方负责培训、指导和管理辅导老师。为乙方安排一名学习顾问，全程跟踪督导反馈乙方的学习情况。甲方的辅导老师和学习顾问并非针对乙方单独设置，也可同时成为甲方其他学员的辅导老师和学习顾问。</p>
								<p>3，甲方为乙方制订个性化辅导方案，并根据乙方学员所需辅导内容和乙方自身情况，定期为乙方提供相应测试以检测乙方知识掌握状况。甲方须认真分析乙方在不同时期存在的问题，并把解决方案告诉乙方及辅导老师。</p>
								<p>4，甲方须综合乙方辅导中存在的问题，适时优化调整辅导计划、师资安排和辅导内容。为更好提高乙方学员成绩并保证辅导计划顺利完成，甲方有权更换辅导老师，但应提前通知乙方。</p>
								<p>5，甲方如需要变更辅导时间，须提前24小时通知乙方，并另行约定辅导时间。</p>
								<div class="header1">
									二，乙方（学员）责任和义务
								</div>
								<p>1，乙方须认真配合甲方辅导、并确保辅导计划顺利实施，保证乙方不旷课、不随意请假、迟到和早退；乙方确需请假的，应向甲方提出申请，甲方批准后，应给予乙方批准请假书面回执；如乙方不能提供甲方批准其请假的书面回执，视为甲方已按计划进行辅导。如有赠送课时须在合同购买课时使用后方可使用。</p>
								<p>2，乙方须接受甲方安排的学习内容和进度，如需调整须及时书面通知甲方，甲方认同后方可调整。乙方可随时反映在学习过程中出现的新问题，以利于甲方进行个性化辅导。</p>
								<p>3，在协议执行期间，乙方如发生严重违反甲方学习管理规定（乙方在此确认甲方已向其告知了甲方管理规定）的行为，包括但不限于严重违反管理规定、习惯性旷课、不尊重老师等，甲方可以取消乙方会员资格，同时退还乙方剩余课时费和会员费，在乙方行为给甲方（或老师）造成损害时有权赔偿相应损失。</p>
								<p>4，乙方如需请假推迟辅导时间，须提前24小时通知甲方。若乙方要求推迟辅导的时间在一周以内（七天及七天以下）的，须与甲方预约自原计划辅导时间之日起的一周以内（七天及七天以下）进行补课；对于因乙方原因逾期未能补上的课时，将视为乙方已完成该课时。若乙方要求推迟辅导时间在一周以上（七天以上）的，甲方有权调整辅导方案和辅导老师，乙方接受甲方相应安排。</p>
								<p>5，乙方不得私下与甲方辅导老师达成任何异于甲方按照本协议规定所制定的辅导计划，不得向任何第三方透漏本协议内容。</p>
								<p>6，乙方在合同签署生效时间算起，24小时内以现金或银行转账的形式缴纳课时费和会员服务费，并向甲方索要缴费收据。</p>
								<div class="header1">
									三，违约责任
								</div>
								<p>1，乙方的学员档案作为本协议的一个重要组成部分，由甲方保管直至本协议执行完毕。乙方需要提供学员的真实情况，双方均不得随意更改档案内容。</p>
								<p>2，开课至总课时的二分之一前(含二分之一），可退还剩余全部课时和会员费。（其计算方法为跟据已完成辅导的课时数量计算的收费标准×已完成辅导的课时数量）开课至总课时的二分之一后，不予退费。乙方选择退费的，赠送课时自动作废。</p>
								<p>3，若甲方辅导老师旷课，甲方应当向乙方提供旷课时间的双倍课时作为补偿（限旷课的科目，且此课时补偿不能兑现现金）。若乙方旷课的，乙方自行承担课时损失，并视为甲方已完成当次课时。</p>
								<p>4，若由于甲方调整辅导形式、辅导老师，但未提前通知乙方，甲方赔付乙方两倍该科目单次课时辅导服务作为补偿。若由于乙方更改时间、计划或推迟辅导时间计划，但未提前24小时告知甲方，视为旷课。乙方自行停止辅导持续超过15日，甲方可解除本协议，并不退还乙方所交付的费用。</p>
								<p>5，若由于乙方提供不真实资料签订本协议的，或若由于乙方私下与甲方辅导老师达成任何异于甲方按照本协议规定的辅导计划，或若乙方向甲方辅导老师垂询任何薪资额行为，导致影响辅导计划效果的，乙方自行承担相应后果，同时甲方可提前解除本协议，并不退还乙方所交付的费用。</p>
								<p>6，本协议如因不可抗力无法继续执行，任何一方可通知对方解除本协议并按实际培训课时结算费用。乙方因为特殊原因，如学员突患重大疾病或严重自认灾害无法继续参加培训的，可向甲方书面申请解除本协议并提交相关证明，经甲方核实确认后退回剩余的费用。</p>
								<p>7，本协议规定双方的权利义务，任何口头承诺无效。甲方对本协议在法律允许的范围内拥有解释权。本协议履行期间如发生争议，由双方友好协商解决，若协商不成，双方同意提交北京市仲裁委员会仲裁。</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>




    <section class="section-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								帮助中心 
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">服务流程</a>
								<a href="#" class="foot-link-item">家长指南</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">登录注册</a>
								<a href="#" class="foot-link-item">常见问题 </a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								平台特色  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">教学质量担保</a>
								<a href="#" class="foot-link-item">先上课后后付费</a>
								<a href="#" class="foot-link-item">导师入驻</a>
								<a href="#" class="foot-link-item">课时费减半</a>
								<a href="#" class="foot-link-item">不满意退费</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关于我们  
							</header>
							<div class="content">
								<a href="#" class="foot-link-item">了解我们 </a>
								<a href="#" class="foot-link-item">联系我们</a>
								<a href="#" class="foot-link-item">加入我们 </a>
								<a href="#" class="foot-link-item">服务条款</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box-foot-links">
							<header class="box-header">
								关注我们  
							</header>
							<div class="content">
								<div class="box-wechat-qrcode-wrapper">
									<img src="https://s-media-cache-ak0.pinimg.com/originals/1e/cf/82/1ecf826b2297bcbb06f132a0af2ff418.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box-kefudianhua">
					<div class="icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="title">
						010-56629015
					</div>
					<div class="des">
						周一至周日 9:00-23:00
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="en">
			Copyright @ 2015 www.tsay.com.cn. All Rights Reserved
		</div>
		<div class="ch">
			品课网©版权所有 京ICP备14057692号	
		</div>
	</div>
	
</section>
    
<!-- <script src="../assets/js/app.min.js" type="text/javascript"></script> -->
<script src="../assets/js/vendor/TweenMax.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/idangerous.swiper.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.scrollmagic.min.js" type="text/javascript"></script>
<script src="../assets/js/custom.js" type="text/javascript"></script>

  </body>

</html>
